<% content_for :title, "Editing Site" %>

<div class="products">
  <h1>Edit Site</h1>

  <div class="form-container">
    <%= render "form", product: @product %>
  </div>

  <div class="form-actions">
    <%= link_to "View Product", @product, class: "btn btn-primary" %>
    <%= link_to "Back to Productes", products_path, class: "btn btn-secondary" %>
  </div>
</div>
