<% content_for :title, "New Site" %>

<div class="products">
  <h1>Add New Product</h1>

  <div class="form-container">
    <%= render "form", product: @product %>
  </div>

  <div class="form-actions">
    <%= link_to "Back to Products", products_path, class: "btn btn-secondary" %>
  </div>
</div>
