<% content_for :title, "Ramen Tracker" %>

<div class="products">
  <h1>Welcome to Ramen Tracker</h1>
  <p class="welcome-subtitle">How should we get started today?</p>
  
  <div class="home-actions">
    <%= link_to "View All Product", products_path, class: "add-product-btn" %>
    <%= link_to "Add New Product", new_product_path, class: "add-product-btn secondary" %>
  </div>
</div>
